nav li {
    display: inline-block;
    padding: 15px;
}

nav {
    margin: auto;
    width: 1200px;
}

.header {
    width: 350px;
    margin: auto;
    text-align: center;
    font-size: 3.5em;
    font-weight: 600;
}

.container {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container article {
    font-size: 1.5em;
    font-weight: 400;
}

.container p {
    font-size: 1.8em;
    font-weight: 600;
}